body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
ul {
    padding-left: 10px !important;
}

#map-container {
    height: 500px;
}

#histogram p {
    padding-left: 20px;
}
rect.bar {
    fill: steelblue;
}
.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.bar rect {
    fill: steelblue;
}

.bar text {
    fill: #000000;
    font: 10px sans-serif;
}

.marker-cluster-small {
    background-color: darkgray;
}
.marker-cluster-small div {
    background-color: darkgray;
}

.marker-cluster-medium {
    background-color: darkgray;
}
.marker-cluster-medium div {
    background-color: darkgray;
}

.marker-cluster-large {
    background-color: darkgray;
}
.marker-cluster-large div {
    background-color: darkgray;
}

#resolver-list li a {
    text-decoration: underline;
    cursor: pointer;
}

#detailed-view {
    overflow: scroll;
}
.leaflet-popup-content {
    margin: 5px 5px;
    max-width: 200px;
}
.topmargin {
    margin-top: 10px;
}
.card-header {
    padding: .25rem 0.5rem;
}

#histogram-container {
    margin-left: -4px;
}

.card-header.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

